@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  25% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  25% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes loader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
body {
  font-family: "Lato", "Roboto", "San Francisco", "Helvetica Neue";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  background-color: #EABB31;
}
iframe {
  width: 100% !important;
}
section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.hero {
  height: 200px;
  background-color: #000;
  color: #FFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.hero .background-image {
  width: 100%;
  height: 200px;
  position: absolute;
  background-image: url(../assets/sample-header-background.jpg);
  -webkit-filter: saturate(0);
          filter: saturate(0);
  opacity: 0.2;
  z-index: 1;
}
section.hero .content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.hero .content .logo {
  margin-top: 10px;
  width: 300px;
  height: 60px;
  background-size: contain;
  background-image: url(../assets/logo-yellow.svg);
}
section.hero .content p {
  max-width: 240px;
  letter-spacing: 0.5px;
}
section.main {
  background-color: #EABB31;
  background-size: 10px 143px;
  background-repeat: repeat;
  padding: 20px 40px 40px;
}
a, a:hover { text-decoration: none; color: black; }
h1 {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #000;
  margin-top: 0;
  margin-bottom: 30px;
}
h2 {
  font-size: 24px;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #FFF;
  background-color: #000;
  display: inline;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 5px 10px;
}
h3 {
  font-size: 14px;
  text-align: right;
  text-transform: uppercase;
  background-color: #FFF;
  display: inline;
  padding: 2px 4px;
  white-space: nowrap;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-100px, 15px);
          transform: translate(-100px, 15px);
  position: absolute;
}
p {
  line-height: 18px;
  margin: 10px;
}
p.header {
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  opacity: 0.3;
}
ul {
  list-style: none;
  padding-left: 0;
}
ul.alert-options li.twitter button {
  background-color: #1DA1F2;
}
ul.alert-options li.twitter .icon {
  background-image: url(../assets/icon-twitter.svg);
}
ul.alert-options li.rss button {
  background-color: #F26522;
}
ul.alert-options li.rss .icon {
  background-image: url(../assets/icon-rss.svg);
}
ul.main-list li {
  margin: 40px 0;
}
ul.main-list li:first-of-type {
  margin-top: 0;
}
ul.main-list li p {
  font-weight: 600;
}
button {
  height: 48px;
  border-radius: 24px;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
}
button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
button:active,
button:focus {
  outline: none;
}
.button-content {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 0 18px;
}
.button-content .icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
  background-size: contain;
  margin-right: 6px;
}
.location-control-container {
  width: 280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.location-control-container h1 {
  text-transform: uppercase;
}
.location-control-container .control {
  cursor: pointer;
}
.location-control-container .control p {
  position: relative;
  margin-bottom: 2px;
  z-index: 16;
}
.location-control-container .control .icon-expand {
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-right: -16px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-image: url(../assets/icon-dropdown.svg);
}
.location-control-container .list {
  pointer-events: none;
  opacity: 0;
  margin-top: -10px;
  padding: 40px 10px 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 15;
  position: absolute;
}
.location-control-container .list ul li h1 {
  cursor: pointer;
  color: #FFF;
}
.location-control-container .list ul li h1:before,
.location-control-container .list ul li h1:after {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  margin: 5px;
  opacity: 0;
}
.location-control-container .list ul li h1:before {
  content: "›";
}
.location-control-container .list ul li h1:after {
  content: "‹";
}
.location-control-container .list ul li h1.active {
  color: #EABB31;
}
.location-control-container .list ul li h1.active:before,
.location-control-container .list ul li h1.active:after,
.location-control-container .list ul li h1.active:hover:before,
.location-control-container .list ul li h1.active:hover:after {
  opacity: 1;
}
.location-control-container .list ul li h1:hover:before,
.location-control-container .list ul li h1:hover:after {
  opacity: 0.5;
}
.location-control-container.open .control {
  cursor: default;
}
.location-control-container.open .control p {
  color: #FFF;
  opacity: 1;
}
.location-control-container.open .list {
  pointer-events: auto;
  opacity: 1;
  background-color: #000;
  border: 5px solid #EABB31;
}
.alert-setup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
.alert-setup-container .background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  z-index: 9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.alert-setup-container .content {
  position: absolute;
  z-index: 10;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  height: 48px;
  width: 208px;
  -webkit-transition: width 0.3s height 0.3s;
  transition: width 0.3s height 0.3s;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.alert-setup-container .content .alert .button-content .icon {
  background-image: url(../assets/icon-alert.svg);
}
.alert-setup-container .content ul li {
  margin-top: 28px;
}
.alert-setup-container .content:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
}
.alert-setup-container .content:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
.alert-setup-container .close-modal {
  position: relative;
  color: #FFF;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  letter-spacing: 1px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.alert-setup-container.open .background {
  opacity: 0.8;
  pointer-events: auto;
}
.alert-setup-container.open .content {
  padding: 14px;
  width: 85%;
  height: auto;
  cursor: default;
}
.alert-setup-container.open .content:hover,
.alert-setup-container.open .content:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.alert-setup-container.open .close-modal {
  z-index: 10;
  opacity: 1;
  pointer-events: auto;
}
.main-list-container .loader .release-date {
  height: 14px;
  width: 100px;
  background-color: #000;
  border-radius: 7px;
  opacity: 0.5;
  margin: 14px 10px 10px;
}
.main-list-container .loader .title {
  height: 46px;
  width: 100%;
  background-color: #000;
  background: -webkit-linear-gradient(15deg, #000, #222, #000, #222);
  background: linear-gradient(75deg, #000, #222, #000, #222);
  background-size: 400% 400%;
  -webkit-animation: loader 1s ease infinite;
          animation: loader 1s ease infinite;
}
.main-list-container .header {
  margin-top: 30px;
}
.main-list-container ul li,
.main-list-container ul li > * {
  text-align: left;
}
.main-list-container ul li * {
  cursor: pointer;
}
.main-list-container ul li:hover {
  -webkit-animation: wiggle 200ms ease-in-out;
          animation: wiggle 200ms ease-in-out;
}
.main-list-container ul a:visited h3 {
  color: black;
}
.feed-footer {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}
.feed-footer p {
  text-align: center;
  font-weight: 800;
  opacity: 0.5;
}
.feed-footer .button-content {
  color: #EABB31;
  background-color: white;
  padding-top: 12px;
}
@media screen and (min-width: 760px) {
  * {
    text-align: left;
  }
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 16px;
    -webkit-transform: translate(-120px, 20px);
            transform: translate(-120px, 20px);
  }
  p {
    line-height: 22px;
  }
  p.header {
    font-size: 16px;
  }
  section.hero {
    height: 260px;
  }
  section.hero .background-image {
    height: 260px;
  }
  section.hero .content .logo {
    width: 427px;
    height: 80px;
  }
  section.hero .content p {
    max-width: 280px;
  }
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  .location-control-container {
    width: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
                -ms-grid-row-align: flex-start;
            align-items: flex-start;
  }
  .location-control-container h1 {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .location-control-container .list {
    margin-left: -15px;
  }
  .location-control-container .list ul li h1 {
    -webkit-transform: translateX(-18px);
            transform: translateX(-18px);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .location-control-container .list ul li h1:after {
    content: "";
  }
  .location-control-container .list ul li h1.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .location-control-container .list ul li h1:hover {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .alert-setup-container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .alert-setup-container .content {
    margin: 15px 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
    max-width: 400px;
  }
  .alert-setup-container .content * {
    text-align: center;
  }
  .alert-setup-container .close-modal {
    text-align: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: black;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #FFF;
    padding: 10px 14px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .alert-setup-container.open .content {
    position: absolute;
  }
  .alert-setup-container.open .close-modal {
    -webkit-transform: translate(10px, -60px);
            transform: translate(10px, -60px);
  }
  .main-list-container {
    width: 100%;
  }
  .main-list-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  .main-list-container ul li {
    margin: 20px 0;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-list-container ul li:nth-of-type(2) {
    margin-top: 0;
  }
}
